<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="zqProjectSuite">
  <test verbose="2" name="zqProjectTestCase">
    <packages>
    	<package name="cn.lixing.zqProject.facility.TestCase"/>
    	<package name="cn.lixing.zqProject.login.TestCase"/>
    	<package name="cn.lixing.zqProject.keyPersonManage.TestCase"/>
    	<package name="cn.lixing.zqProject.AssorderManage.TestCase"/>
    	<package name="cn.lixing.zqProject.pushManage.TestCase"/>
    </packages>
  </test>
</suite>
